{
    "code": 200,
    "msg": "ok",
    "result": [
        {
            "topic": "Gun Control",
            "trend": "69",
            "coverImageUrl": "https://cdn.pixabay.com/photo/2016/05/29/08/44/gun-control-1422577_1280.jpg",
            "sources": "BBC,BUZZFEED,CNN..",
            "description": "The February shootings at Marjory Stoneman Douglas High School in Parkland, Fla., that killed 17 and wounded many more has drawn overwhelming support for gun control laws across the U.S., including from large U.S. corporations.",
            "lastRefresh": "13:42",
            "mapImageUrl": "https://erhsraider.org/wp-content/uploads/2017/11/gun-control.jpg"
        },
        {
            "topic": "Trump Mexico",
            "trend": "40",
            "coverImageUrl": "https://ep01.epimg.net/economia/imagenes/2016/11/18/actualidad/1479437522_022106_1479437688_noticia_normal.jpg",
            "sources": "BBC,BUZZFEED,CNN,FOX NEWS..",
            "description": "Donald Trump, the president, summoned Donald Trump, the candidate, in a series of remarks about immigration policy on Thursday, invoking “rape” again in his attacks on U.S. ally Mexico.",
            "lastRefresh": "14:00",
            "mapImageUrl": "https://amp.businessinsider.com/images/582e089ee02ba72b318b4b5d-750-544.jpg"
        },

        {
             "topic": "YouTube",
             "trend": "57",
             "coverImageUrl": "https://lh3.googleusercontent.com/-4QDxins1Vgw/AAAAAAAAAAI/AAAAAAACAWY/nCtpEGewDJA/s640/photo.jpg",
             "sources": "BBC,BUZZFEED,CNN,FOX NEWS..",
            "description": "Twitter defended its current policies while saying it would invest more in combating misinformation, after fielding criticism for the number of fake accounts and hoaxes that arose during the shooting on YouTube's campus on Tuesday.",
            "lastRefresh": "08:00",
            "mapImageUrl": "https://cdn.neow.in/news/images/uploaded/2018/01/1516306436_youtube4_story.jpg"
        },

         {
             "topic": "Russia",
             "trend": "88",
             "coverImageUrl":"http://flags.fmcdn.net/data/flags/w580/ru.png",
             "sources": "BBC,BUZZFEED,CNN,FOX NEWS..",
             "description": "Moscow assumes “with a high degree of probability” that the intelligence services of other countries are likely responsible for the incident, Nebenzia said at the UN.",
             "lastRefresh": "20:00",
             "mapImageUrl": "http://establishbrazil.com/sites/default/files/2017-09/russia-map-flag-500-e1420749123545.jpg"
         },







    ]
}